/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* shared styles */
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .display-flex{
    display: flex;
}
main>section{
    margin-top: 130px;
}
/* color */
/* /* dark -2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
    .text-light-gray{
        color: #727272;
    }

    .bg-light{
        background-color: rgba(255, 144, 14, 0.1);
    }
    .btn-primary{
        background-color: #FF900E;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.25rem;
        text-align: center;
        padding: 21px 25px;
        color: white;
        border-radius: 8px;
        border: none;
    }
    .text-primary{
        color: #FF900E;
    }
    .section-title{
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 24px;
    }
  /* header styles */

  /* nav styles */
  .brand{
    font-size: 3rem;
    font-weight: 700;
  }
  .navbar{
   justify-content: space-between;
   align-items: center;
  }
  .nav-items{
    list-style: none;
    margin-right: 30px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 100px auto;
  }
  /* banner styles */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-size: 4rem;
    font-weight: 700;
  }
  .banner-description{
    margin: 50px auto;
  }
  .banner-img img{
    width: 100%;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

    /* teams feature styles */

    .teams{
        align-items: center;
    }
    .team-img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .our-features{
        margin-left: 130px;
        max-width: 530px;
    }
   
    .feature-description{
        margin-bottom: 32px;
    }
    #quick-list{
        font-weight: 500;
    }
  /* responsive media query */
  @media screen and (max-width:576px) {
    .navbar, .nav-links, 
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin:20px;
       
    }
  }

  /* response medium device  */
  @media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin:50px auto;
       
    }
  }